h1{ 
    font-family:Arial, Helvetica, sans-serif;
    color: brown;
    font-size: 25px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body{
    background-color: antiquewhite;
}